body {
    margin: 0px;
    background: #1A1919;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow hidden: remove o scrool da página */
}

a {
    text-decoration: none;
    font-size: .9rem;
    color: #41A55B;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

.logo {
    margin: 30px;
    position: absolute;
}

h1 {
    display: flex;
    gap: 10px;
    margin-left: -6px;
    align-content: center;
    color: #FFF7DC;
    padding: 5px;
    font-size: 24px;
}

p {
    color: #F4FFF7;
    margin-right: 5px;
    font-size: 14px;
}

.form-container {
    width: 50%;
    /* margin: 60px; */
    display: grid;
    place-content: center;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}


form {
    background: #212121;
    width: clamp(280px, 30vw, 480px);
    /* height: clamp(280px, 30vw, 480px); */
    border-radius: 5px;
    padding: 30px;
}

.input-label input {
    background: transparent;
    color: #fff;
    width: 100%;

    /* font-size: clamp(.9rem, 1.2vw, 1.5rem); */
    font-size: 14px;
    display: grid;
    
    padding: 10px 5px;
    
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}


label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #FFF7DC;
    margin-top: 15px;
}

.input-label {
    display: grid;
    justify-content: center;
}

.input-label label {
    font-size: 16px;
}

.input-group{
    display: flex;
    gap: 5px;
    padding:0px 10px;
    background: #2F2F2F;
    border-radius: 5px;
}

.input-group:active{
    border: 2px solid #41A55B;
}

.checkbox {
    display: flex;
    /* border: 3px solid #41A55B; */
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px auto;

}

.checkbox>div{
    display: inherit;
    align-items: center;
}

.checkbox>div>label{
    margin-top: 0px;
    font-size: 13px;
}

.checkbox>a>strong {
    font-size: 13px;
}

input[type="checkbox"]{
    display: block;
}

button {
    display: grid;
    align-items: center;
    cursor: pointer;
    background: #41A55B;
    color: #03310D;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    width: 60%;
    padding: 10px;
    margin: 16px auto;
}

.register {
    color: #41A55B;
    text-align: center;
}

.img-car {
    width: 50%;
}

.img-car>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}